[http "http://github.com"]
    proxy = 
[https "https://github.com"]
    proxy = 
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[alias]
    co = checkout
    ci = commit
    br = branch
    st = status
    unstage = "reset HEAD"
    last = "log -1"
    lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
    pl = "pull"
    d = difftool
[user]
	name = David
    email = wendajiang93@163.com

[pull]
    rebase = true

[diff]
    tool = vimdiff
    ; tool = bc4
[difftool]
    prompt = false

; [difftool "bc4"]
    ; cmd = "/usr/local/bin/bcomp" \"$LOCAL\" \"$REMOTE\"
; [merge]
    ; tool = bc4
; [mergetool]
    ; prompt = false
; [mergetool "bc4"]
    ; cmd = "/usr/local/bin/bcomp" \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
    ; trustExitCode = true
[rerere]
	enabled = true
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
[commit]
	template = /Users/david/d-vim/commit-template
